
$border-color: #AF0B0B;
$border-width: 20px;
$button-color: $border-color;
$gutter: 15px;
$transition-short: 0.2s;
$transition-long: 0.4s;

$content-width: 800px;

$font-serif: 'Roboto Slab', serif;
