@import "settings";
@import "mixins";
@import "typography";
@import "components";

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	background: white;
	border: $border-width solid $border-color;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

body {
	margin: 0;

	position: absolute;
	top: $border-width;
	right: $border-width;
	bottom: $border-width;
	left: $border-width;
}

.hide {
	display: none;
}
