.content {
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	padding: 4vmin;
	width: $content-width;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	>* {
		width: 100%;
	}
}
